<body>
  <div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <!-- intro -->
  <div class="wrapper">
    <div class="typing-demo">Make each day a little better than before</div>
  </div>

  <main class="grid">
    <div class="title title--primary">
      <span class="text-align">university tutoring according to U</span>
      <span class="text-bold">U HELP</span>
    </div>

    <div class="cover">
      <img src="../assets/img/2.jpg" alt="" />
    </div>

    <ul class="info">
      <li>
        <span class="text-bold">Study anywhere</span>
        <span class="text-center">Learn at your own pace</span>
      </li>
      <li>
        <span class="text-bold">Save your money</span>
        <span class="text-center">Always updated</span>
      </li>
      <li>
        <span class="text-bold">Creative teaching</span>
        <span class="text-center">You can inquire yourself</span>
      </li>
      <li>
        <span class="text-bold">User-friendly website</span>
        <span class="text-center">Convenient</span>
      </li>
    </ul>

    <div class="title title--secondary">
      <span class="text-align">university tutoring according to U</span>
      <span class="text-bold">U HELP</span>
    </div>
  </main>

  <!-- timeline -->
  <section class="design-section">
    <div class="timeline">
      <div class="timeline-empty"></div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-component timeline-content">
        <h3>MIDTERM</h3>
      </div>
      <div class="timeline-component timeline-content">
        <h3>FINAL</h3>
      </div>
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-empty"></div>

      <div class="timeline-empty"></div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-component timeline-content">
        <h3>QUIZ</h3>
      </div>
    </div>
  </section>

  <!-- CARD-->
  <div class="main-container">
    <div class="heading">
      <h1 class="heading__title">U HELP</h1>
      <p class="heading__credits">
        <a class="heading__link" target="_blank" [routerLink]="['https://dribbble.com/sl']"
          >Not sure where to begin? What is your main goal on U HELP?</a
        >
      </p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <h2 class="card__title">
          "I want to upskill and improve my knowledge"
        </h2>
        <p class="card__apply">
          <a class="card__link" [routerLink]="['/login']">join us</a>
        </p>
      </div>
      <div class="card card-2">
        <h2 class="card__title">"I want to have good grades"</h2>
        <p class="card__apply">
          <a class="card__link" [routerLink]="['/login']">join us</a>
        </p>
      </div>
      <div class="card card-3">
        <h2 class="card__title">"I want to pass the exam"</h2>
        <p class="card__apply">
          <a class="card__link" [routerLink]="['/login']">join us</a>
        </p>
      </div>
      <div class="card card-4">
        <h2 class="card__title">
          "I would like to help my friends who are having trouble with this
          lesson"
        </h2>
        <p class="card__apply">
          <a class="card__link" [routerLink]="['/login']">join us</a>
        </p>
      </div>
      <div class="card card-5">
        <h2 class="card__title">"I don't want to get an F grade"</h2>
        <p class="card__apply">
          <a class="card__link" [routerLink]="['/login']">join us</a>
        </p>
      </div>
      <div class="card card-1">
        <h2 class="card__title">"I want to be number 1 in this exam"</h2>
        <p class="card__apply">
          <a class="card__link" [routerLink]="['/login']">join us</a>
        </p>
      </div>
    </div>
  </div>

  <!-- wrapper -->
  <div class="wrapperr">
    <header class="header"><h1>Innovators of the new genre</h1></header>
    <figure class="featured-image-1">
      <img src="../assets/img/6.jpg" alt="" />
    </figure>
    <div class="number-1">1</div>
    <article class="article article-1">
      <h2 style="margin-top: 0; text-transform: uppercase">
        The Perfect Location
      </h2>
      <p>
        Students who online tutoring have the freedom to attend class when and
        where
      </p>
    </article>
    <figure class="featured-image-2">
      <img src="../assets/img/3.jpg" alt="" />
    </figure>
    <div class="number-2">2</div>
    <article class="article article-2">
      <h2 style="margin-top: 0; text-transform: uppercase">
        Enhanced Resources
      </h2>
      <p>
        Those who are enrolled in online tutoring can learn and read more during
        their studies. Rather than relying solely on a professor for an answer
      </p>
    </article>
    <figure class="featured-image-3">
      <img src="../assets/img/7.jpg" alt="" />
    </figure>
    <div class="number-3">3</div>
    <article class="article article-3">
      <h2 style="margin-top: 0; text-transform: uppercase">
        Learn and Study on Your Own Time
      </h2>
      <p>
        Schedules, work, and other various time constraints become a less
        hindering factor when online classes are a possibility. Flexibility is
        one of the biggest benefits to distance learning
      </p>
    </article>
    <figure class="featured-image-4">
      <img src="../assets/img/10.jpg" alt="" />
    </figure>
    <div class="number-4">4</div>
    <article class="article article-4">
      <h2 style="margin-top: 0; text-transform: uppercase">Cost-Effective</h2>
      <p>
        Online tutoring is a cost-effective alternative. No need to worry about
        the price of a dorm or apartment. Rather, students can study from their
        current home. Additionally, students save the time and money associated
        with commuting to and from school—and let’s face it: time is money
      </p>
    </article>
  </div>

  <!-- why us? -->
  <div class="container-1">
    <div id="marketing" class="section">
      <div class="content">
        <h1>User-friendly website</h1>
      </div>
      <div class="overlay"></div>
    </div>
    <div id="technology" class="section">
      <div class="content">
        <h1>Convenient</h1>
      </div>
      <div class="overlay"></div>
    </div>
    <div id="advertising" class="section">
      <div class="content">
        <h1>The ability to learn at your own pace</h1>
      </div>
      <div class="overlay"></div>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer-07">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <p style="color: aliceblue">
            “Stay away from those people who try to disparage your ambitions.
            Small minds will always do that, but great minds will give you a
            feeling that you can become great too.” <br />-- Mark Twain--
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
