 /* .card-wrapper {
    margin-bottom: 30px;
}

.card-image .card .card-img-wrapper {
    height: 100%;
}

.card-image .card .card-body {
    display: none;
}

.card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
}

.card-image-title-description .card {
    position: relative;
    min-height: 300px;
}

.card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
}

.card-image-title-description .card:hover .card-body {
    top: -70px;
}

.card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
}

.card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 240px;
    width: 400px;
} */

/* .card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
} */

/* .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
}

.card-img-wrapper img {
    transition: 1.5s ease;
} */

/* .card:hover .card-img-wrapper img {
    transform: scale(1.15);
} */

/* .card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
} */

/* .card:hover .card-body .card-title {
    margin-bottom: 1px;
} */
/* .col{
    padding-bottom: 1cqi;
} */
/* .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-color: #fff;
}

.p {
    display: flex;
    align-items: center; /* Align items vertically */
  /* }
  
  .text {
    margin-left: 30px; /* Add space between the image and text */
  /* }  */

/* .card:hover .card-body {
    height: 40%;
} */

/* .card:hover .card-content {
    bottom: 0;
}  */


/* .input-group button {
    position: absolute;
    right: 5px;
    overflow: hidden;
}
.container{
    margin-top: 10px;
    padding-top: 5px;
}
.my-custom-button {
    border: none !important;
    border-radius: 0 !important;
    background: rgba(128, 0, 128, 0.8);
    width: 140px;
}

.bg-custom{
    background: #e253a9;
}

body{
    margin-bottom: 50px;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  overflow-x: hidden;  
}

svg {
  fill: rgb(96, 96, 96);
}

.navigation {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  position: fix;
  top: 0;
  right: 0;
  z-index: 1000;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #ccc; /* Optional: Adds a bottom border for better separation */
  width: 100%;
}


.navigation__button {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  line-height: 5px;
}

.navigation__menu,
.navigation__search,
.navigation__options {
  display: flex;
  align-items: center;
}

.navigation__options .navigation__button {
  margin-right: 8px;
}

.navigation__menu img {
  margin-left: 5px;
}

.navigation__menu__button svg {
  height: 24px;
}

.navigation__search input {
  width: 360px;
  height: 32px;
  border: 1px solid rgb(211, 211, 211);
  font-size: 16px;
  padding: 3px 8px;
}

.navigation__search{
  z-index: 1;
}

.navigation__search__icon {
  border: 1px solid rgb(211, 211, 211);
  border-left: none;
  height: 32px;
  width: 65px;
}

.navigation__search__icon:hover {
  background-color: #e4e4e4;
}

.navigation__search__icon svg {
  height: 20px;
  width: 20px;
}

.navigation__options {
  display: flex;
}

.navigation__icon {
  width: 24px;
  height: 24px;
}

.navigation__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: grey;
}

.chips {
  display: flex;
 
  top: 56px;

  margin-left: 300px;
  background-color: white;
}
/* 
.chips__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  padding: 0 12px;
  line-height: 30px;
  border-radius: 16px;
  margin: 12px 12px 12px 0;
  cursor: pointer;
}

.chips__item:first-child {
  margin-left: 24px;
}

.chips__item--selected {
  background-color: black;
  color: white;
} */

.sidebar {
  width: 240px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 12px 0;
  height: calc(100vh - 80px);
  color: #000000; 
  z-index: 1;
  border: 1px solid #ffffff; 
  box-sizing: border-box; 
  border-radius: 10px;
  background: url(https://i.ibb.co/M9LB3Kq/Glassmorphism-Background.png);
  background-size:cover;
  height:640px;
  background-color:#eee;
}


.sidebar__section {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__section h3 {
  padding: 8px 24px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.sidebar__section__link {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  padding: 0 24px;
  height: 40px;
}

.sidebar__section__link svg,
.sidebar__section__avatar {
  height: 24px;
  width: 24px;
  margin-right: 24px;
}


.sidebar__section__link svg {
  fill:#534e4e
}

.sidebar__section:last-child {
  padding: 16px 24px 0 24px
}

.sidebar__section:last-child p {
  font-size: 13px;
  color: #000000;
}

.sidebar__section__link--small {
  margin-right: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.feed {
  margin-top: 140px;
  margin-left: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between; 
}



.card {
  margin: 0 8px 40px 8px;
}

.card__thumbnail {
  width: 360px;
  height: 202px;
  background-color: grey;
}

/* .item {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; 
} */


.feed__item__info {
  display: flex;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.feed__item__info h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: rgb(3, 3, 3);
}

.feed__item__info a {
  text-decoration: none;
  color: unset;
}

.feed__item__info p {
  margin: 0;
}

.feed__item__info__avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: grey;
  margin: 12px 12px 0 0;
}

.feed__section {
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  margin: 24px 35px 48px;
}

.feed__section h2 {
  margin-left: 8px;
}

.feed__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row.row-cols-auto{
  margin-left: 5px;
  width: 297px;
  height: 32px;
  border: 1px solid rgb(211, 211, 211);
}

.thumbnail{
  display: inline-block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 400px;
}

row.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
}


